header {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.headerSideSection {
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.headerSideSection p {
    text-wrap: nowrap;
}

.headerLeftSection {
    width: 23%;
    padding-left: 0;
}

.headerRightSection {
    width: 30%;
    padding-right: 0;
}

#signInUp {
    background-color: #6366f1;
    color: white;
    padding: 9px 20px 9px 20px;
    border-radius: 4px;
}
#signInUp i {
    color: white;
}

#firstPageWrapper {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, #f5f7fa 0%, #e8eef5 100%);
}

#firstPage {
    display: flex;
    flex-direction: column;
    width: 70%;
    justify-content: space-between;
}

#firstPageContent {
    display: flex;
    justify-content: space-between;
    margin-top: 5%;
}

#downloadSection {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#downloadSection #headers {
    font-size: 60px;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.538);
    padding: 3%;
}

#downloadSection h1 {
    color: #0b0f19;
}

#downloadSection #downloadButtons {
    display: flex;
    padding: 5%;
    /* padding-left: 0; */
    gap: 5%;
    /* justify-content: ; */
}

#downloadSection #paragraphs {
    font-size: 18px;
    padding: 3%;
    /* padding-left: 0; */
}

#downloadSection #discoverSection {
    display: flex;
    align-items: center;
    padding: 3%;
}

#twoPhoneImages img {
    height: 100%;
}
